body {
  color: $color-text;
  font-family: "Kaisei Opti", serif;
  font-weight: 500;
  background: #f9f9f9;
}
.show-pc {
  @include mq() {
    display: none;
  }
}
.show-sp {
  display: none;
  @include mq {
    display: block;
  }
}
.icon {
  &-type {
    &-normal {
      color: $color-type-normal;
    }
    &-fire {
      color: $color-type-fire;
    }
    &-water {
      color: $color-type-water;
    }
    &-grass {
      color: $color-type-grass;
    }
    &-electric {
      color: $color-type-electric;
    }
    &-ice {
      color: $color-type-ice;
    }
    &-fighting {
      color: $color-type-fighting;
    }
    &-poison {
      color: $color-type-poison;
    }
    &-ground {
      color: $color-type-ground;
    }
    &-flying {
      color: $color-type-flying;
    }
    &-psychic {
      color: $color-type-psychic;
    }
    &-bug {
      color: $color-type-bug;
    }
    &-rock {
      color: $color-type-rock;
    }
    &-ghost {
      color: $color-type-ghost;
    }
    &-dragon {
      color: $color-type-dragon;
    }
    &-dark {
      color: $color-type-dark;
    }
    &-steel {
      color: $color-type-steel;
    }
    &-fairy {
      color: $color-type-fairy;
    }
  }
}
.container {
}
.contents {
  padding-top: 100px;
}
.page-header {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  padding-left: 48px;
  margin-bottom: 60px;
  background: url("../images/pokeball.svg") no-repeat;
  background-size: contain;
}

.section-header {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.filter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  padding:0;
  border: none;
  background: transparent;
  transform: translateY(calc(100% - 50px));
  transition: 0.3s;
  overflow-y: auto;
  &-trigger {
    display: block;
    width: 100%;
    height: 50px;
    transform-origin: center top;
    transform: scaleY(0.6);
    background: #999;
    position: relative;
    top: 20px;
    box-shadow: 0 -5px 30px rgba(0,0,0,0.3);
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 24px;
      left: 50%;
      transform-origin: 50% 0;
      transform: translateX(-50%) rotate(45deg);
      width: 20px;
      height: 20px;
      border-top: 3px solid #FFF;
      border-left: 3px solid #FFF;
      pointer-events: none;
    }
  }
  &-inner {
    background: #FFF;
    padding: 15px;
    position: relative;
  }
  &-overlay {
    display: none;
    position: fixed;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
  }
  &.is_opened {
    transform: translateY(0);
    .filter-trigger {
      &::after {
        transform: translateX(-50%) rotate(225deg);
      }
    }
  }
}
.is_filter-opened {
 .filter-overlay {
  display: block;
 }
}

@include mq() {
  .contents {
    padding-top: 20px;
  }
  .page-header {
    font-size: 24px;
    line-height: 30px;
    padding-left: 36px;
    margin: 0 10px 30px;
  }

  .section-header {
    font-size: 18px;
    margin: 0 10px 10px;
  }
}

