.header {
  border-bottom: 2px solid #555555;
  background: 
    url("../images/header/monster1.png") no-repeat bottom 0 left 0 / 50px auto,
    url("../images/header/ball.png") no-repeat bottom 5px right 0 / 50px auto;

  &-inner {
    width: 1200px;
    max-width: calc(100% - 60px);
    margin: 0 auto;
    position: relative;
    background: url("../images/header/monster2.png") no-repeat top center / 100px auto,
  }
  &-title {
    text-align: center;
    .en {
      font-size: 24px;
      font-family: "Itim", cursive;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 5px;
    }
    .ja {
      font-size: 14px;
    }
  }
  @include mq() {
    &-inner {
      width: auto;
      max-width: calc(100% - 20px);
      padding: 5px 0 0;
    }
    &-title {
      padding: 20px 0 5px;
      img {
        width: 60vw;
      }
    }
    &-left {
      bottom: -24px;
      left: 0;
      img {
        width: 10vw;
      }
    }
    &-right {
      bottom: -16px;
      right: -10px;
      img {
        width: 16vw;
      }
    }
  }
  @include mq(sm) {
    &-left {
      img {
        width: 14vw;
      }
    }
    &-right {
      img {
        width: 20vw;
      }
    }
  }
}