$color-type-normal: #919aa2;
$color-type-fire: #ff9741;
$color-type-water: #3692dc;
$color-type-grass: #38bf4b;
$color-type-electric: #fbd100;
$color-type-ice: #4cd1c0;
$color-type-fighting: #e0306a;
$color-type-poison: #b567ce;
$color-type-ground: #e87236;
$color-type-flying: #89aae3;
$color-type-psychic: #ff6675;
$color-type-bug: #83c300;
$color-type-rock: #c8b686;
$color-type-ghost: #4c6ab2;
$color-type-dragon: #006fc9;
$color-type-dark: #5b5466;
$color-type-steel: #5a8ea2;
$color-type-fairy: #fb89eb;

$color-text: #333;
$color-red: #eb0000;

$font-yugothic: 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,"メイリオ",Osaka,"MS PGothic",arial,helvetica,sans-serif;

$width-page-pc: 1200px;
