@charset "UTF-8";

@import '_iconfont.scss';
@import '_reset.scss';
@import '_variables.scss';
@import '_mixin.scss';

@import '_common.scss';
@import '_header.scss';
@import '_footer.scss';

.type-checker {
  width: 960px;
  max-width: calc(100% - 60px);
  margin: 0 auto;
  .pokemon-select {
    &-tabs {
      border-bottom: 1px solid #DDD;
      display: flex;
      &-item {
        width: 300px;
        margin-right: 10px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $color-text;
          background: #f0f0f0;
          border: 1px solid #DDD;
          border-bottom: none;
          border-radius: 5px 5px 0 0;
          text-decoration: none;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.2;
          padding: 10px 0;
          height: 100%;
          box-sizing: border-box;
        }
        &.is_active {
          margin-bottom: -1px;
          a {
            color: #FFF;
            background: $color-red;
            border-color: $color-red;
            padding-bottom: 11px;
          }
        }
      }
    }
    &-tab {
      &-contents {
        padding: 30px 0;
        &-item {
          display: none;
          &.is_active {
            display: block;
          }
        }
      }
    }
  }
  .pokemon-search {
    width: 300px;
    position: relative;
    &-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }
    &-input {
      width: 100%;
      height: 36px;
      padding: 0 5px;
      box-sizing: border-box;
      font-size: 14px;
      font-family: $font-yugothic;
      border: 1px solid #DDD;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
      &-wrapper {
        position: relative;
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 12px;
          right: 10px;
          width: 6px;
          height: 6px;
          border-right: 2px solid #DDD;
          border-bottom: 2px solid #DDD;
          transform: rotate(45deg);
          pointer-events: none;
        }
      }
      &-clear {
        display: block;
        position: absolute;
        top: 0;
        right: 30px;
        width: 36px;
        height: 36px;
        &::before, &:after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 16px;
          border-top: 1px solid #666;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
    &-list {
      &-wrapper {
        position: absolute;
        top: 36px;
        left: 0;
        width: 100%;
        max-height: 300px;
        height: 0;
        overflow: hidden;
        border: 1px solid #DDD;
        border-top: none;
        border-bottom: none;
        background: #FFF;
        z-index: 100;
      }
      li {
        a {
          display: block;
          background: #FFF;
          color: $color-text;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none;
          padding: 5px;
          &:hover {
            background: #f0f0f0;
          }
        }
      }
    }
    &-reset {
      margin-left: 15px;
      a {
        display: block;
        color: $color-text;
        font-size: 16px;
        text-decoration: none;
        position: relative;
        margin-left: 18px;
        border-bottom: 1px solid transparent;
        font-weight: normal;
        .icon {
          position: absolute;
          top: 2px;
          left: -18px;
          font-size: 12px;
          margin-right: 5px;
        }
        &:hover {
          border-bottom: 1px solid $color-text;
        }
      }
    }
    &-result {
      margin-top: 20px;
    }
    &-and-or {
      margin-bottom: 5px;
      &-list {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        &-item {
          margin-left: 10px;
          input[type="radio"] {
            display: none;
            & + label {
              padding-left: 20px;
              position: relative;
              &::before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 14px;
                height: 14px;
                border: 1px solid #999;
                border-radius: 50%;
              }
            }
            &:checked {
              & + label {
                &::after {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 50%;
                  left: 3px;
                  transform: translateY(-50%);
                  width: 10px;
                  height: 10px;
                  background: #000;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
    &.is_active {
      .pokemon-search {
        &-input {
          &-wrapper {
            &::after {
              top: 15px;
              transform: rotate(225deg);
            }
          }
        }
        &-list {
          &-wrapper {
            height: auto;
            overflow-y: auto;
            border-bottom: 1px solid #DDD;
          }
        }
      }
    }
  }
  .pokemon-info {
    &-wrapper {
      display: flex;
      align-items: center;
      padding: 5px;
      border: 1px solid #DDD;
      background: #FFF;
    }
    &-img {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      margin-right: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-type {
      display: flex;
      margin-left: auto;
      .badge {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 56px;
        font-size: 11px;
        line-height: 1.4;
        padding-top: 10px;
      }
      .icon {
        font-size: 28px;
      }
    }
    &-name {
      font-size: 20px;
    }
  }
  .pokemon-type {
    position: relative;
    &-list {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      li {
        width: 140px;
        margin: 0 15px 15px 0;
        input[type="checkbox"] {
          display: none;
          & + label {
            display: block;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            padding: 3px 3px 3px 12px;
            background: #FFF;
            border: 2px solid #DDD;
            border-radius: 18px;
            text-align: center;
            position: relative;
            .icon {
              position: absolute;
              top: 5px;
              left: 4px;
              font-size: 22px;
            }
          }
          &:checked {
            & + label {
              border: 3px solid $color-red;
              padding: 2px 2px 2px 11px;
              box-shadow: 0 0 10px rgba($color-red, 0.3);
              .icon {
                top: 4px;
                left: 3px;
              }
            }
          }
        }
      }
    }
    &-error {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #f0f0f0;
      padding: 20px;
      border: 1px solid #DDD;
      font-size: 14px;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
  }
  .result {
    margin-bottom: 60px;
    &-table {
      width: calc(100% - 20px);
      border-collapse: collapse;
      th {
        width: 160px;
        border: 1px solid #DDD;
        font-size: 14px;
        line-height: 28px;
        padding: 10px;
        text-align: left;
        em {
          font-size: 16px;
        }
      }
      td {
        border: 1px solid #DDD;
        font-size: 14px;
        padding: 10px;
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            font-size: 16px;
            line-height: 20px;
            margin: 0 15px 10px 0;
            a {
              display: inline-block;
              color: $color-text;
              border-bottom: 1px solid transparent;
              text-decoration: none;
              position: relative;
              &:hover {
                border-bottom: 1px solid $color-text;
              }
            }
            .icon {
              position: absolute;
              top: 3px;
              left: 0;
              font-size: 18px;
              margin-right: 3px;
              position: relative;
            }
            .multiplier {
              font-size: 12px;
              position: relative;
              left: -5px;
            }
          }
        }
      }
      tr {
        &:nth-child(1) {
          th {
            background: #f9b2b2;
          }
        }
      }
      tr {
        &:nth-child(2) {
          th {
            background: #fcd9d9;
          }
        }
      }
      tr {
        &:nth-child(3) {
          th {
            background: #f0f0f0;
          }
        }
      }
      tr {
        &:nth-child(4) {
          th {
            background: #d9eafc;
          }
        }
      }
      tr {
        &:nth-child(5) {
          th {
            background: #b2d5f9;
          }
        }
      }
    }
  }
  .pokemon-recommend {
    &-info {
      &-score {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 5px;
        border-top: 1px solid #DDD;
        &-label {
          font-size: 14px;
          font-weight: 600;
          &::after {
            content: "：";
          }
        }
        &-list {
          display: flex;
          justify-content: center;
          align-items: baseline;
          &-item {
            font-size: 14px;
            font-weight: 500;
            margin-right: 10px;
            .num {
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
    }
    &-list {
      &-item {
        border: 1px solid #DDD;
        background: #FFF;
        border-radius: 5px;
        margin-bottom: 10px;
        &-header {
          padding-right: 30px;
          position: relative;
          .pokemon-info-wrapper {
            border: none;
          }
          .js_toggle-trigger {
            display: block;
            position: absolute;
            top: 50%;
            right: 10px;
            width: 40px;
            height: 40px;
            transform: translateY(-50%);
            &::after {
              content: "";
              display: block;
              position: absolute;
              top: 50%;
              right: 0;
              width: 6px;
              height: 6px;
              border-right: 2px solid #DDD;
              border-bottom: 2px solid #DDD;
              transform: rotate(45deg);
            }
            &.is_toggle-opened {
              &::after {
                transform: rotate(225deg);
              }
            }
          }
        }
        &-attack {
          line-height: 1.6;
          &-wrapper {
            padding: 5px;
            border-top: 1px solid #DDD;
          }
          &-label {
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 5px;
          }
          &-info {
            display: flex;
            align-items: baseline;
            margin-bottom: 5px;
            &.is_normal {
              --color-type: #{$color-type-normal};
            }
            &.is_fire {
              --color-type: #{$color-type-fire};
            }
            &.is_water {
              --color-type: #{$color-type-water};
            }
            &.is_grass {
              --color-type: #{$color-type-grass};
            }
            &.is_electric {
              --color-type:  #{$color-type-electric};
            }
            &.is_ice {
              --color-type: #{$color-type-ice};
            }
            &.is_fighting {
              --color-type: #{$color-type-fighting};
            }
            &.is_poison {
              --color-type: #{$color-type-poison};
            }
            &.is_ground {
              --color-type: #{$color-type-ground};
            }
            &.is_flying {
              --color-type: #{$color-type-flying};
            }
            &.is_psychic {
              --color-type: #{$color-type-psychic};
            }
            &.is_bug {
              --color-type: #{$color-type-bug};
            }
            &.is_rock {
              --color-type: #{$color-type-rock};
            }
            &.is_ghost {
              --color-type: #{$color-type-ghost};
            }
            &.is_dragon {
              --color-type: #{$color-type-dragon};
            }
            &.is_dark {
              --color-type: #{$color-type-dark};
            }
            &.is_steel {
              --color-type: #{$color-type-steel};
            }
            &.is_fairy {
              --color-type: #{$color-type-fairy};
            }
          }
          &-name {
            padding-left: 1em;
            font-size: 18px;
            margin-right: 10px;
          }
          &-gauge {
            margin-left: auto;
            .gauge {
              width: 100px;
              height: 10px;
              fill: var(--color-type);
              position: relative;
              top: -2px;
            }
            & + .pokemon-recommend-list-item-attack-power {
              margin-left: 10px;
            }
          }
          &-power {
            width: 30px;
            margin-left: auto;
            text-align: right;
          }
        }
        .js_toggle-content {
          display: none;
        }
      }
    }

  }
  @include mq() {
    width: auto;
    max-width: 100%;
    .pokemon-select {
      &-tabs {
        justify-content: space-between;
        padding: 0 10px;
        &-item {
          width: calc(33.3% - 5px);
          margin: 0;
          a {
            padding: 10px 0;
          }
        }
      }
      &-tab {
        &-contents {
          padding: 20px 0 30px;
          margin: 0 10px;
        }
      }
    }
    .pokemon-search {
      width: 100%;
      &-wrapper {
        margin-bottom: 20px;
      }
      &-list {
        li {
          a {
            font-size: 16px;
            line-height: 24px;
            padding: 5px;
          }
        }
      }
    }
    .pokemon-type {
      &-title {
        font-size: 16px;
        margin-bottom: 20px;
      }
      &-list {
        margin-right: -10px;
        li {
          width: calc(20% - 10px);
          margin: 0 10px 10px 0;
          input[type="checkbox"] {
            & + label {
              display: flex;
              flex-direction: column;
              align-items: center;
              font-size: 11px;
              line-height: 14px;
              padding: 3px 0;
              border-radius: 8px;
              white-space: nowrap;
              .icon {
                position: relative;
                top: 0;
                left: auto;
                font-size: 28px;
                margin-bottom: 3px;
              }
            }
            &:checked {
              & + label {
                padding: 2px 0;
                .icon {
                  top: 0;
                  left: auto;
                }
              }
            }
          }
        }
      }
    }
    .result {
      &-table {
        margin: 0 10px;
        th {
          width: 90px;
          font-size: 12px;
          line-height: 24px;
          padding: 10px 5px;
          white-space: nowrap;
          em {
            font-size: 14px;
          }
        }
        td {
          font-size: 12px;
        }
        tr {
          &:nth-child(1) {
            th {
              background: #f9b2b2;
            }
          }
        }
        tr {
          &:nth-child(2) {
            th {
              background: #fcd9d9;
            }
          }
        }
        tr {
          &:nth-child(3) {
            th {
              background: #f0f0f0;
            }
          }
        }
        tr {
          &:nth-child(4) {
            th {
              background: #d9eafc;
            }
          }
        }
        tr {
          &:nth-child(5) {
            th {
              background: #b2d5f9;
            }
          }
        }
      }
    }
  }
}