.header {
  border-bottom: 2px solid #4A3F3A;
  background:
    url("../images/header/monster1.png") no-repeat bottom -2px left 0 / 50px auto,
    url("../images/header/ball.png") no-repeat bottom 5px right 0 / 50px auto;

  &-inner {
    width: auto;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    position: relative;
    padding: 5px 0 0;
    background: url("../images/header/monster2.png") no-repeat top center / 100px auto;
  }
  &-title {
    text-align: center;
    padding: 16px 0 5px;
    .en {
      font-size: 24px;
      font-family: "Itim", cursive;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 5px;
    }
    .ja {
      font-size: 14px;
    }
    img {
      width: 60vw;
      max-width: 240px;
    }
  }
}
