$color-type-normal: #A7B8B5;
$color-type-fire: #D3543F;
$color-type-water: #5BA9D6;
$color-type-grass: #5EAC41;
$color-type-electric: #F2D544;
$color-type-ice: #7DD3E4;
$color-type-fighting: #E36A6A;
$color-type-poison: #9D5CB8;
$color-type-ground: #A57A52;
$color-type-flying: #C7B9F0;
$color-type-psychic: #F49BBC;
$color-type-bug: #A9C448;
$color-type-rock: #C8A86A;
$color-type-ghost: #7E5CA8;
$color-type-dragon: #305789;
$color-type-dark: #4A4A4A;
$color-type-steel: #A9C6C9;
$color-type-fairy: #F3A9D6;

$color-text: #333;
$color-red: #c73641;

$font-yugothic: 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",Meiryo,"メイリオ",Osaka,"MS PGothic",arial,helvetica,sans-serif;

$width-page-pc: 1200px;
